CVS/
Makefile
ambig-box-bw.pdf
ambig-box-bw.ps
ambig-box-color.pdf
ambig-box-color.ps
bard1-bw.pdf
bard1-bw.ps
bard1-color.pdf
bard1-color.ps
bard1.png
bard2-bw.pdf
bard2-bw.ps
bard2-color.pdf
bard2-color.ps
bard2.png
board-globe.png
board-globe.ps
center-box-bw.pdf
center-box-bw.ps
center-box-color.pdf
center-box-color.ps
connect-bw.pdf
connect-bw.ps
connect-color.pdf
connect-color.ps
connect.png
fool1-bw.pdf
fool1-bw.ps
fool1-color.pdf
fool1-color.ps
fool1.png
fool2-bw.pdf
fool2-bw.ps
fool2-color.pdf
fool2-color.ps
fool2.png
herald1-bw.pdf
herald1-bw.ps
herald1-color.pdf
herald1-color.ps
herald1.png
herald2-bw.pdf
herald2-bw.ps
herald2-color.pdf
herald2-color.ps
herald2.png
know-logo-large.png
know-name-small.png
newgame-bw.pdf
newgame-bw.ps
newgame-color.pdf
newgame-color.ps
newgame.png
rim-box-bw.pdf
rim-box-bw.ps
rim-box-color.pdf
rim-box-color.ps
sources/
theboard.pdf
theboard.png
theboard.ps
tier1-box-bw.pdf
tier1-box-bw.ps
tier1-box-color.pdf
tier1-box-color.ps
tier2-box-bw.pdf
tier2-box-bw.ps
tier2-box-color.pdf
tier2-box-color.ps
tiers-bw.pdf
tiers-bw.ps
tiers-color.pdf
tiers-color.ps
tiers-key.png
tiers.png
